<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ca.usherbrooke.gegi.server.persistence.SortiesMapper">
    <select id="select" resultType="sorties">
      SELECT
       id_sortie,
       type_sortie,
       heure_debut,
       heure_fin,
       cip,
       id_cours_examen,
       date_examen
      FROM sorties WHERE id_sortie = #{idSortie};
    </select>

    <select id="selectToilette" resultType="sorties">
      SELECT
       id_sortie,
       type_sortie,
       heure_debut,
       heure_fin,
       cip,
       id_cours_examen,
       date_examen
      FROM sorties WHERE id_cours_examen = #{idCoursExamen} and date_examen = #{dateExamen}::timestamp ;
    </select>

    <select id="selectToiletteNull" resultType="sorties">
        SELECT *
        FROM sorties
        WHERE id_cours_examen = #{idCoursExamen} AND date_examen = #{dateExamen}::timestamp AND heure_fin IS NULL;
    </select>

    <select id="selectAll" resultType="sorties">
      SELECT
       id_sortie,
       type_sortie,
       heure_debut,
       heure_fin,
       cip,
       id_cours_examen,
       date_examen
      FROM sorties;
    </select>

    <insert id="insertSorties">
      insert into sorties
      values (((SELECT MAX(id_sortie) FROM sorties) + 1), #{sorties.typeSortie}, #{sorties.heureDebut}::timestamp, #{sorties.heureFin}::timestamp, #{sorties.cip}, #{sorties.idCoursExamen}, #{sorties.dateExamen}::timestamp);
    </insert>

    <select id="selectFin" resultType="sorties">
        SELECT
        cip,
        heure_debut
        FROM sorties WHERE type_sortie = 0 AND id_cours_examen = #{idCoursExamen} AND date_examen = #{dateExamen}::timestamp;
    </select>

    <select id="selectToilettesSurveillant" resultType="sorties">
        SELECT
        cip,
        heure_debut,
        heure_fin
        FROM sorties WHERE type_sortie = 1 AND id_cours_examen = #{idCoursExamen} AND date_examen = #{dateExamen}::timestamp;
    </select>
    
    <insert id="insertRetour">
		update sorties set heure_fin = #{sorties.heureFin}::timestamp where id_cours_examen = #{sorties.idCoursExamen} AND date_examen = #{sorties.dateExamen}::timestamp AND type_sortie = 1 AND heure_fin IS NULL;
</insert>

</mapper>
